:root {
  --primary-text-color: #263238;
  --secondary-text-color: #65624c;
  --gray4: #575658;
  --gray5: #e0e0e0;
  --primary1-logo-color: #ffbb00;
  --primary2-logo-color: #000000;
  --yellow-border: #ffc422;
  --white: white;
  --secondary1-button-color: #f9f9f9;
  --secondary2-button-color: #cec6c6;
  --button-yellow: #ffcf4b;
}
