.bannerContainer {
  width: 100%;
  position: relative;
}
.bannerSection {
  position: relative;
  @include wt-ht(100%, 100%);
  svg {
    width: 100%;
    position: relative;
    top: 20px;
    height: 500px;
    @media only screen and (max-width: 768px) {
      height: fit-content;
    }
  }
  .bannerText {
    width: 60%;
    color: var(--primary-text-color);
    position: absolute;
    top: -335px;
    left: 0;
    font-size: 58px;
    margin: 0;
    line-height: 70.19px;

    @media screen and (min-width: 1201px) and (max-width: 1240px) {
      left: 20px;  
    }

    @media only screen and (max-width: 1200px) {
      font-size: 50px;
      left: 12px;
      width: 72%;
     }

     @media only screen and (max-width: 900px) {
      font-size: 30px;
      left: 12px;
      width: 400px;
      line-height: 1.5;
    }

    @media only screen and (max-width: 768px) {
      font-size: 20px;
      width: 100%;
      position: relative;
      top: 32px;
      text-align: center;
    }
  
  }
}
