.bannerContainer {
  width: 100%;
}
.bannerSection {
  position: relative;
  @include wt-ht(100%, 100%);
  svg {
    width: 100%;
    position: relative;
    top: -70px;
    height: 500px;
    @media only screen and (max-width: 768px) {
      height: fit-content;
    }
  }
  .bannerText {
    width: 52%;
    color: var(--primary-text-color);
    position: absolute;
    top: 70px;
    font-size: 58px;
    margin: 0;

    @media only screen and (max-width: 768px) {
      font-size: 20px;
      width: 100%;
      top: 85%;
      text-align: center;
    }
  }
}


@media only screen and (max-width: 900px) {
  .bannerSection {
    svg {
      top: -87px;
    }
    .bannerText {
      font-size: 30px;
      width: 400px;
    }
  }
}