.downloadAppWrapper {
  margin-top: 120px;
  color: #605f5f;
  position: relative;
  @media screen and (max-width: 1200px) {
    margin-top: 50px;
    margin-bottom: 18px;
  }
  .headingText {
    padding-left: 48px;
    color: #605f5f;
    margin-bottom: 40px;
    @media screen and (max-width: 1200px) {
     color: var(--primary-text-color);
     padding-left: 0;
     margin-bottom: 18px;
    }
    
  }
  .downloadRightText {
    @media screen and (max-width: 900px) {
      width: 100%;
    }
    .downloadApp {
      width: 100%;
      
      @media screen and (max-width: 1200px) {
        @include flex-center;
        justify-content: space-between;
        margin-top: 12px;
        svg {
          @include wt-ht(100%, 100%);
        }
      }
      svg:first-child {
        margin-right: 24px;
      }
    }
  }
  .downloadAppText {
    color: #605f5f;
    font-size: 20px;
    font-weight: 500;
    margin: 0px;
    width: 540px;
    margin-bottom: 40px;
    @media screen and (max-width: 1200px) {
      display: none;
    }
  }

  .downloadAppIcon {
    position: absolute;
    bottom: 0;
    left: 32px;

    @media screen and (max-width: 1200px) {
      position: relative;
      inset: 0;
      svg {
        @include wt-ht(100%, 100%);
      }
    }
  }
  .downloadAppContainer {
    display: flex;
    flex-direction: column;
    align-items: end;
    border-radius: 1rem;
    background: rgb(255, 255, 255);
    padding: 70px 40px 27px 0px;
    margin: 200px 0px 40px;
    box-shadow: rgb(224, 224, 224) 0px 1px 8px 0px;
    position: relative;
    @media screen and (max-width: 1200px) {
      margin: 0;
      padding: 40px 12px;
      margin-bottom: 32px;
      align-items: center;
    }
  }
}
