.spaceOverviewWrapper {
  margin-top: 120px;
  transition: transform 0.3s;

  @media only screen and (max-width: 900px) {
    margin-top: 50px;
  }
  .spaceOverviewContainer {
    display: grid;
    grid-template-columns: repeat(3, minmax(370px, 384px));
    width: 100%;
    gap: 45px;

    
    @media only screen and (max-width: 1200px) {
      grid-template-columns: repeat(2, minmax(320px, 370px));
      justify-content: center;
    }
    
    @media only screen and (max-width: 900px) {
      grid-template-columns: repeat(1, minmax(320px, 370px));
      gap: 12px;
      justify-content: center;
    }
    
    .spaceOverviewCard {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      border-radius: 8px;
      box-shadow: 0px 1.08px 8.63px 0px #0000000f;
      border: 1.08px solid #eee7e7;
      padding: 14px 12px;
      background-color: var(--white);
      .addressCard {
        @include flex-align-center;
        justify-content: space-between;
        margin-bottom: 16px;
      }
      .address {
        font-size: 20px;
        font-weight: 600;
        color: var(--primary-text-color);

        @media screen and (max-width: 768px) {
          font-size: 18px;
        }
      }
      .directionsIcon {
        border: 0.47px solid #eee7e7;
        background-color: #f9f9f9;
        border-radius: 6px;
        @include wt-ht(52px, 52px);
        @include flex-align-center;
        flex-direction: column;
        @media screen and (max-width: 768px) {
          @include wt-ht(44px, 44px);
        }
        svg {
          @include wt-ht(18px, 18px);
          @media screen and (max-width: 768px) {
            font-size: 14px;
          }
        }
        &:hover {
          cursor: pointer;
          box-shadow: rgb(183, 182, 184) 0px 3px 6px 0px;
        }
        .staticKms {
          font-size: 8px;
          font-weight: 500;
          line-height: 9.68px;
          color: var(--primary-text-color);
          margin-top: 6px;
        }
      }
      .imgCard {
        position: relative;
        .division {
          position: absolute;
          top: 8px;
          left: 8px;
          background: linear-gradient(
            100.27deg,
            #263238 22.66%,
            #2f4b59 67.67%
          );
          box-shadow: 0px 2px 6px 0px #00000014;
          color: #ffbb00;
          font-size: 14px;
          font-weight: 500;
          @include flex-center;
          justify-content: center;
          border-radius: 5px;
          padding: 8px;
          @media screen and (max-width: 768px) {
            font-size: 12px;
          }
          span {
            @include flex-center;
            margin-right: 8px;
          }
          .divisionIcon {
            @include wt-ht(12px, 12px);
          }
          .divisionText {
            text-shadow: 0px 1px 3px 0px #ffd04f99;
            letter-spacing: 2px;
          }
        }
        .image {
          @include wt-ht(346px, 202px);
          border-radius: 6px;
          overflow-clip-margin: content-box;
          overflow: clip;
          @media screen and (max-width: 900px) {
           @include wt-ht(100%, 100%);
          }
          @media screen and (max-width: 1200px) {
            @include wt-ht(336px, 175px);
           }
          
        }
      }
      .passWrapper {
        @include flex-center;
        justify-content: space-between;
        margin-top: 22px;
      }
      .dayPassWrapper, .bulkPassWrapper {
        background-color: #f9f9f9;
        border: 0.5px solid #eee7e7;
        border-radius: 6px;
        @include flex-center;
        justify-content: space-between;
        padding: 9px 12px;
        width: 100%;
        &:hover {
          cursor: pointer;
          box-shadow: rgb(183, 182, 184) 0px 3px 6px 0px;
        }
        .flexWrapperColumn {
          display: flex;
          flex-direction: column;
          justify-content: center;
        }
        .dayPassText {
          color: var(--secondary-text-color);
          font-size: 14px;
          font-weight: 500;
          margin-bottom: 8px;
          @media screen and (max-width: 768px) {
            font-size: 12px;
           }
          
        }
        .dayPassPrice {
          font-size: 20px;
          font-weight: 600;
          color: var(--primary-text-color);
          @media screen and (max-width: 768px) {
            font-size: 18px;
          }
        }
        .perDayText {
          font-size: 12px;
          font-weight: 500;
          color: var(--primary-text-color);
          @media screen and (max-width: 768px) {
            font-size: 11px;
          }
        }
      }
      .bulkPassWrapper {
        background-color: var(--button-yellow);
        border: 1px solid var(--yellow-border);
        margin-left: 12px;
        position: relative;
        .discountPercent {
          position: absolute;
          top: -10px;
          left: 0;
          right: 0;
          margin: 0 auto;
          background-color: var(--primary-text-color);
          font-size: 8px;
          font-weight: 500;
          width: 69px;
          color: var(--white);
          padding: 4px 8px;
          text-align: center;
          border-radius: 3px;
        }
      }
    }
  }
}

@keyframes slide-down {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
